.nuxt/
.output/
.nitro/
dist/
node_modules/
*.config.js
*.config.mjs
.env
.env.*
yarn.lock
package-lock.json
pnpm-lock.yaml
*.log
*.min.js
*.min.css
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
coverage/
.vscode/
.idea/
