@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import 'tailwindcss';
@import '@nuxt/ui';

/* Custom global styles */
body {
  @apply antialiased;
  font-family: 'Pretendard';
}
body :has(#home) {
  background-image: url('@/assets/imgs/bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'SlowGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FounderYooGeonWook';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

.font-slow {
  font-family: 'SlowGothic', sans-serif;
}

.font-founder {
  font-family: 'FounderYooGeonWook', sans-serif;
}

/* 글자 glow (제목만) */
@keyframes glowText {
  0%,
  100% {
    text-shadow:
      0 0 5px #38bdf8,
      0 0 10px #8b5cf6;
  }
  50% {
    text-shadow:
      0 0 10px #38bdf8,
      0 0 20px #8b5cf6;
  }
}
.animate-glowText {
  animation: glowText 2s ease-in-out infinite;
}

/* 외곽 박스 glow */
@keyframes glowBox {
  0%,
  100% {
    box-shadow:
      0 0 10px #38bdf8,
      0 0 20px #8b5cf6;
  }
  50% {
    box-shadow:
      0 0 20px #38bdf8,
      0 0 40px #8b5cf6;
  }
}
.animate-glowBox {
  animation: glowBox 3s ease-in-out infinite;
}

/* 전체 컨테이너 glow */
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px #38bdf8;
  }
  50% {
    box-shadow: 0 0 20px #8b5cf6;
  }
}
.animate-glow {
  animation: glow 3s ease-in-out infinite;
}
